<div class="formfield">
  <div class="left">
    <form>
      <mat-form-field>
        <mat-select [(ngModel)]="selectedWeek" name="week" (selectionChange)="displayData($event.value)">
          <mat-option *ngFor="let week of weeks" [value]="week.value">
            {{week.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
    <form>
      <mat-form-field>
        <mat-select [(ngModel)]="selectedOption" name="option" (selectionChange)="selection($event.value)">
          <mat-option *ngFor="let option of options" [value]="option">
            {{option}}
          </mat-option>        
        </mat-select>
      </mat-form-field>
    </form>
  </div>
  <h2 class="right"> Germany
    <li>Total Cases: {{germanyCases}}</li>
    <li>Total Deaths: {{germanyDeaths}}</li>
    <li>Total Recovered: {{germanyRecovered}}</li>
  </h2>
</div>
<div>
  <google-chart #mychart [data]="cases" *ngIf=case></google-chart>

  <google-chart [data]="deaths" *ngIf=death></google-chart>

  <google-chart [data]="recovered" *ngIf=recovery></google-chart>
</div>