<div class ="some">
<form >
  <mat-form-field>
    <mat-select [(ngModel)]="selectedWeek" name="food" (selectionChange)="changeClient()">
      <mat-option *ngFor="let week of weeks" [value]="week.value">
        {{week.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</form>
<form>
  <mat-form-field>
    <mat-select [(ngModel)]="selectedValue" name="food" (selectionChange)="changeClient()">
      <mat-option *ngFor="let region of regions" [value]="region.value">
        {{region.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</form>
</div>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- Position Column -->
  <ng-container matColumnDef="region">
    <th mat-header-cell *matHeaderCellDef> Region </th>
    <td mat-cell *matCellDef="let element"> {{element.region}} </td>
  </ng-container>

  <!-- Cases -->
  <ng-container matColumnDef="cases">
    <th mat-header-cell *matHeaderCellDef> Cases </th>
    <td mat-cell *matCellDef="let element"> {{element.cases}} </td>
  </ng-container>

  <!-- Deaths -->
  <ng-container matColumnDef="deaths">
    <th mat-header-cell *matHeaderCellDef> Deaths </th>
    <td mat-cell *matCellDef="let element"> {{element.deaths}} </td>
  </ng-container>

  <!-- Recovered -->
  <ng-container matColumnDef="recovered">
    <th mat-header-cell *matHeaderCellDef> Recovered </th>
    <td mat-cell *matCellDef="let element"> {{element.recovered}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

